In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [37]:
df= pd.read_csv("Resources/EPA_SmartLocationDatabase_V3_Jan_2021_Final (3).csv")
df

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,3414.446949,3.355857e+05
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,2421.025608,2.924305e+05
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,20,1,7.333333,1955.909418,1.619395e+05
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,10,1,4.000000,16896.768870,1.038966e+07
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.000000,-99999.000000,-99999.000000,1,1,12,1,4.666667,3890.488237,6.114601e+05

In [38]:
#number of rows and columns
df.shape

(220740, 117)

In [39]:
#finding all null values
nan_df= df[df.isna().any(axis=1)]
nan_df

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
78,79,4.842200e+11,4.842200e+11,48,421,950200,2,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,19,18,17,1,12.166667,8560.072731,2.772020e+06
301,302,4.833200e+11,4.833200e+11,48,331,950700,3,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,17,6,7,1,6.500000,8533.704584,4.457269e+06
302,303,4.833200e+11,4.833200e+11,48,331,950700,4,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,15,13,15,1,10.000000,8146.389254,2.489905e+06
303,304,4.833200e+11,4.833200e+11,48,331,950700,5,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,5,13,8,1,6.000000,9642.922576,4.165242e+06
307,308,4.820800e+11,4.820800e+11,48,207,950300,3,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,10,10,12,1,7.666667,8441.113367,3.018433e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220735,220736,7.803100e+11,7.803100e+11,78,30,961000,2,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,1,1,20,1,7.333333,3414.446949,3.355857e+05
220736,220737,7.803100e+11,7.803100e+11,78,30,961000,3,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,1,1,20,1,7.333333,2421.025608,2.924305e+05
220737,220738,7.803100e+11,7.803100e+11,78,30,961000,5,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,1,1,20,1,7.333333,1955.909418,1.619395e+05
220738,220739,7.803100e+11,7.803100e+11,78,30,960700,3,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,1,1,10,1,4.000000,16896.768870,1.038966e+07
220739,220740,7.803100e+11,7.803100e+11,78,30,960200,2,NaN,NaN,NaN,...,-99999.0,-99999.0,-99999.0,1,1,12,1,4.666667,3890.488237,6.114601e+05

In [40]:
#Drop NA rows
clean_df=df.dropna()
clean_df

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220646,220647,7.202100e+11,7.202100e+11,72,21,30200,2,490.0,"San Juan-Bayamón, PR",41980.0,...,-99999.000000,-99999.000000,-99999.000000,1,1,18,1,6.666667,1632.404551,139386.4852
220647,220648,7.202100e+11,7.202100e+11,72,21,31401,2,490.0,"San Juan-Bayamón, PR",41980.0,...,-99999.000000,-99999.000000,-99999.000000,1,1,17,1,6.333333,1474.513645,109441.0787
220648,220649,7.202100e+11,7.202100e+11,72,21,31202,1,490.0,"San Juan-Bayamón, PR",41980.0,...,-99999.000000,-99999.000000,-99999.000000,1,1,16,1,6.000000,2112.392508,199405.4456
220649,220650,7.205320e+11,7.205320e+11,72,53,150400,3,490.0,"San Juan-Bayamón, PR",41980.0,...,-99999.000000,-99999.000000,-99999.000000,1,1,14,1,5.333333,4448.103039,498971.9856
220650,220651,7.205320e+11,7.205320e+11,72,53,150104,4,490.0,"San Juan-Bayamón, PR",41980.0,...,-99999.000000,-99999.000000,-99999.000000,1,1,13,1,5.000000,3645.554606,621538.6947

In [53]:
#Drop census block group in all Puerto Rico areas as most data fields are empty 
clean_df2=clean_df.apply(lambda row: row[df['CSA_Name'].isin(['San Juan-Bayamón, PR','Ponce-Yauco-Coamo, PR', 'Mayagüez-San Germán, PR'])==False])
clean_df2

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.811300e+11,4.811300e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,2.978361e+05
1,2,4.811300e+11,4.811300e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,4.849451e+05
2,3,4.811300e+11,4.811300e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,1.067059e+05
3,4,4.811300e+11,4.811300e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,4.818284e+05
4,5,4.811300e+11,4.811300e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,6.876848e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217324,217325,5.505900e+11,5.505900e+11,55,59,800,3,176.0,"Chicago-Naperville, IL-IN-WI",16980.0,...,-99999.000000,-99999.000000,-99999.000000,5,9,17,1,8.333333,3098.156066,3.834702e+05
217325,217326,5.505900e+11,5.505900e+11,55,59,2700,1,176.0,"Chicago-Naperville, IL-IN-WI",16980.0,...,-99999.000000,-99999.000000,-99999.000000,20,13,4,1,7.166667,36392.505620,5.641533e+07
217326,217327,5.505900e+11,5.505900e+11,55,59,2100,2,176.0,"Chicago-Naperville, IL-IN-WI",16980.0,...,-99999.000000,-99999.000000,-99999.000000,1,1,8,1,3.333333,2229.943841,2.786423e+05
217327,217328,5.513320e+11,5.513320e+11,55,133,203804,3,376.0,"Milwaukee-Racine-Waukesha, WI",33340.0,...,-99999.000000,-99999.000000,-99999.000000,10,9,5,1,5.166667,12519.346340,9.448981e+06
217328,217329,5.505900e+11,5.505900e+11,55,59,100,3,176.0,"Chicago-Naperville, IL-IN-WI",16980.0,...,-99999.000000,-99999.000000,-99999.000000,3,16,7,1,5.833333,7338.656269,1.038112e+06

In [55]:
# #Pull Columns Needed for Data Analysis
Data_set= clean_df2[['CBSA_Name', 'NatWalkInd', 'Workers', 'R_LowWageWk', 'R_MedWageWk', 'R_HiWageWk','AutoOwn0', 'Pct_AO0', 'AutoOwn1', 'Pct_AO1','AutoOwn2p', 'D3A', 'D3AAO', 'D3APO', 'Pct_AO2p','D4A','D4B025', 'D5BE', 'D5BR']]
Data_set

,CBSA_Name,NatWalkInd,Workers,R_LowWageWk,R_MedWageWk,R_HiWageWk,AutoOwn0,Pct_AO0,AutoOwn1,Pct_AO1,AutoOwn2p,D3A,D3AAO,D3APO,Pct_AO2p,D4A,D4B025,D5BE,D5BR
0,"Dallas-Fort Worth-Arlington, TX",14.000000,412,99,122,191,69,0.163121,39,0.092199,315,23.534900,0.000000,12.879623,0.744681,362.10,0.0,53504,135362
1,"Dallas-Fort Worth-Arlington, TX",10.833333,395,76,107,212,0,0.000000,168,0.410758,241,22.893366,0.755137,19.278747,0.589242,718.84,0.0,90089,236885
2,"Dallas-Fort Worth-Arlington, TX",8.333333,463,136,189,138,19,0.057751,143,0.434650,167,14.210509,6.128365,5.470714,0.507599,398.31,0.0,82815,230587
3,"Dallas-Fort Worth-Arlington, TX",15.666667,431,60,69,302,0,0.000000,43,0.111979,341,32.178373,2.208594,20.646233,0.888021,386.24,0.0,79657,168433
4,"Dallas-Fort Worth-Arlington, TX",10.166667,579,91,84,404,5,0.014577,67,0.195335,271,22.058651,2.289659,16.592921,0.790087,638.37,0.0,48682,120826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217324,"Chicago-Naperville-Elgin, IL-IN-WI",8.333333,599,215,209,175,92,0.190083,102,0.210744,290,25.474143,0.000000,25.474143,0.599174,-99999.00,0.0,-99999,-99999
217325,"Chicago-Naperville-Elgin, IL-IN-WI",7.166667,1225,285,330,610,17,0.018066,146,0.155154,778,3.674312,1.254054,1.454357,0.826780,-99999.00,0.0,-99999,-99999
217326,"Chicago-Naperville-Elgin, IL-IN-WI",3.333333,422,112,151,159,0,0.000000,139,0.511029,133,19.091198,0.000000,19.091198,0.488971,-99999.00,0.0,-99999,-99999
217327,"Milwaukee-Waukesha, WI",5.166667,780,180,179,421,19,0.040084,53,0.111814,402,4.547485,0.047291,2.909380,0.848101,-99999.00,0.0,-99999,-99999
217328,"Chicago-Naperville-Elgin, IL-IN-WI",5.833333,408,112,134,162,0,0.000000,100,0.227790,339,8.779297,0.332822,6.040693,0.772210,-99999.00,0.0,-99999,-99999

In [60]:
#Drop rows with -99999 value as this indicates missing values 
Data_set= Data_set.loc[Data_set['D4A'] != -99999.00]
Data_set

,CBSA_Name,NatWalkInd,Workers,R_LowWageWk,R_MedWageWk,R_HiWageWk,AutoOwn0,Pct_AO0,AutoOwn1,Pct_AO1,AutoOwn2p,D3A,D3AAO,D3APO,Pct_AO2p,D4A,D4B025,D5BE,D5BR
0,"Dallas-Fort Worth-Arlington, TX",14.000000,412,99,122,191,69,0.163121,39,0.092199,315,23.534900,0.000000,12.879623,0.744681,362.10,0.0,53504,135362
1,"Dallas-Fort Worth-Arlington, TX",10.833333,395,76,107,212,0,0.000000,168,0.410758,241,22.893366,0.755137,19.278747,0.589242,718.84,0.0,90089,236885
2,"Dallas-Fort Worth-Arlington, TX",8.333333,463,136,189,138,19,0.057751,143,0.434650,167,14.210509,6.128365,5.470714,0.507599,398.31,0.0,82815,230587
3,"Dallas-Fort Worth-Arlington, TX",15.666667,431,60,69,302,0,0.000000,43,0.111979,341,32.178373,2.208594,20.646233,0.888021,386.24,0.0,79657,168433
4,"Dallas-Fort Worth-Arlington, TX",10.166667,579,91,84,404,5,0.014577,67,0.195335,271,22.058651,2.289659,16.592921,0.790087,638.37,0.0,48682,120826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217239,"Oshkosh-Neenah, WI",11.000000,385,116,147,122,28,0.101083,90,0.324910,159,23.955164,0.000000,20.046790,0.574007,480.12,0.0,15240,20526
217240,"Oshkosh-Neenah, WI",9.833333,505,119,206,180,0,0.000000,84,0.177966,388,18.732343,0.000000,18.732343,0.822034,595.46,0.0,15311,25141
217241,"Oshkosh-Neenah, WI",15.166667,608,160,237,211,11,0.022680,106,0.218557,368,22.289758,0.000000,18.908655,0.758763,134.11,0.0,14483,15348
217245,"Milwaukee-Waukesha, WI",8.000000,437,108,105,224,9,0.022333,171,0.424318,223,19.280133,5.324622,13.398303,0.553350,418.43,0.0,6534,9488
217264,"Milwaukee-Waukesha, WI",14.000000,628,158,219,251,40,0.070299,237,0.416520,292,21.863463,0.000000,17.437602,0.513181,175.69,0.0,21305,25935